.contentItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  transition-duration: 0.2s;

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    &:hover {
      color: rgb(29, 167, 51);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  li {
    font-size: 0.8rem;
    &:hover {
      color: rgb(29, 167, 51);
    }
  }
}
