.catalog {
  display: flex;
  flex-direction: row;
}

.links {
  border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
