.locationItem {
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  font: 12px normal Times;
  background-color: white;
  color: green;

  &:hover {
    background-color: green;
    color: white;
  }
}
