@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   height: 100%;
   font-family: "Gill Sans", sans-serif;
   background-color: rgb(29, 167, 51);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  padding: 20px;
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 30px 0 0;
}

.container {
  position: relative;
  max-width: 1320px;
  padding: 20px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}