
$sidebar-width: 450px;
$sidebar-bg-color: #333;
$text-color: #fff;

/* Sidebar styling */
.sidebar {
    width: $sidebar-width;
    background-color: $sidebar-bg-color;
    color: $text-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 5px;
    z-index: 1;

    .header {
        display: grid;
        grid-template-columns: 11fr 1fr;
        position: relative;
        width: 100%;
        background-color:#444;
        padding: 1px; // Add padding for spacing

        .title {
            
        }

        .close {       
            margin-right: 5px;
            color: black;
            cursor: pointer;
            font-size: 16px; // Adjust font size as needed
            justify-self: end;
        }
    }
}


/* Sidebar links */
.sidebar a {
    color: $text-color;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #444; /* Hover background color */
}

/* Sidebar toggle button */
