.form {
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  input,
  button {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.2s;
    padding: 5px;
  }
  button {
    cursor: pointer;

    &:hover {
      background-color: rgba(92, 92, 92, 0.5);
      color: white;
      border: 1px solid rgba(92, 92, 92, 0.1);
    }
  }
}
